.header {
	@include adaptiv-value("padding-top", 40, 5);
	@include adaptiv-value("padding-bottom", 40, 5);
	position: sticky;
	background-color: white;
	width: 100%;
	z-index: 100;
	top: 0;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	transition: background-color 0.3s linear;
	&__sticky {
		background-color: rgb(202, 202, 202);
	}
	&__sticky .navigation {
		box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);
	}
	&__contacts {
		display: flex;
	}
	&__logo {
		flex: 1;
		@media (max-width: $sm) {
			svg {
				width: 200px;
			}
		}
	}
	&__burger {
		@media (min-width: $lg) {
			display: none;
		}

		margin-left: 30px;
		width: 30px;
		height: 16px;
		position: relative;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&-span {
			display: block;
			width: 100%;
			height: 1px;
			background-color: $blue;
			transition: opacity 0.3s linear;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			background-color: $blue;
			width: 100%;
			height: 1px;
			transition: all 0.3s linear;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&--open &-span {
			opacity: 0;
		}
		&--open:before {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		&--open:after {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

.header-contact {
	display: flex;
	align-items: center;
	margin-top: 10px;
	@media (min-width: $lg) {
		margin-top: 0px;
		&:last-child {
			margin-left: 65px;
		}
	}
	&__img {
		display: none;
		@media (min-width: $lg) {
			display: block;
		}
	}
	&__text {
		margin-left: 15px;
		&:hover .header-contact__to {
			color: $gray__hover;
		}
		&:hover .header-contact__to:before {
			width: 100%;
		}
		text-align: right;
		@media (min-width: $lg) {
			text-align: initial;
		}
	}
	&__descr {
		color: $blue;
		font-family: "Mulish";
		font-size: 20px;
	}
	&__to {
		color: $gray;
		font-size: 17px;
		transition: color 0.4s ease-in-out;
		position: relative;

		&::before {
			right: 0px;
			background-color: $gray__hover;
		}
	}
}

.navigation {
	background-color: $orange;
	display: flex;
	align-items: flex-end;
	padding: 10px 0px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	max-width: 34vw;
	width: 100%;
	min-width: 250px;
	flex-direction: column;
	justify-content: flex-start;
	clip-path: circle(25% at 14% 19%);
	opacity: 0;
	transform: translateX(250px);
	pointer-events: none;
	&--open {
		pointer-events: all;
	}
	@media (min-width: $lg) {
		margin-bottom: -60px;
		margin-top: 20px;
		clip-path: none;
		max-width: initial;
		width: initial;
		position: initial;
		justify-content: space-between;
		flex-direction: row;
		display: block;
		transform: translate(0);
		opacity: 1;
		pointer-events: all;
	}
	&__inner {
		overflow: scroll;

		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-top: 171px;
		padding-right: 15px;
		align-items: flex-end;
		@media (min-width: $lg) {
			flex-direction: row;
			padding-right: 0px;
			margin-top: 0px;
			align-items: center;
			overflow: hidden;
		}
	}
	&__list {
		flex-direction: column;
		align-items: flex-end;
		@media (min-width: $lg) {
			flex-direction: row;
			align-items: center;
		}
		display: flex;
	}

	&__item {
		font-size: 19px;
		margin: 10px 0px;
		@media (min-width: $lg) {
			padding-left: 50px;
			margin: 0px;
		}
	}

	&__link {
		color: #222222;
		transition: color 0.6s ease-in-out;
		position: relative;
		&:hover {
			color: white;
		}
		&::before {
			background-color: white;
			left: 0;
		}
		&:hover::before {
			width: 100%;
		}
	}

	&__button {
		background: #1c2752;
		border: 2px solid #1c2752;
		color: #f4f4f4;
		font-size: 16px;
		margin-bottom: 10px;
		padding: 10px;
		font-size: 19px;
		@media (min-width: $sm) {
			padding: 20px 8px;
		}
		@media (min-width: $lg) {
			margin: 0px 10px 0px 0px;
			padding: 20px 40px;
		}
		transition: background-color 0.3s linear;
		cursor: pointer;
		&:hover {
			background: #101730;
		}
	}
}
