.hero {
	position: relative;
	padding-bottom: 20.9%;
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__inner {
		@include adaptiv-value("padding-top", 212, 78);
	}

	&__text {
		position: relative;
		z-index: 6;
		max-width: 712px;
	}

	&__descr {
		max-width: 86%;
	}

	&__title {
		font-family: "Mulish";
		@include adaptiv-value("font-size", 60, 20);
		letter-spacing: 1.2px;
		text-transform: capitalize;
		margin-top: 31px;
		color: #ffffff;
	}
	&__button {
		margin-top: 31px;
	}
}
.container {
}
.hero-descr {
	color: white;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	&__img {
		margin-left: 10px;
		display: none;
		@media (min-width: $md) {
			display: block;
		}
	}
	&__text {
		font-size: 18px;
		@media (min-width: $md) {
			margin-left: 10px;
		}
	}
}
