.opening {
	background-color: #f2f2f2;
	padding: 21px 0px;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: $smm) {
			flex-direction: row;
		}
	}

	&__text {
		font-size: 17px;
	}

	&__socials {
		margin-top: 10px;
		@media (min-width: $smm) {
			margin-top: 0px;
		}
	}

	&__social {
		transition: fill 0.5s linear;
		&:not(:first-child) {
			margin-left: 20px;
		}
		&:hover path {
			fill: #475895;
		}
	}
}
.container {
}
