@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: #{$font_name};
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
$maketWidth: 1440;
@mixin adaptiv-value($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maketWidth - 320}));
}
@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";

body {
	font-family: "Inter";
	font-weight: 400;
	letter-spacing: 0.36px;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.main {
	flex: 1 1 auto;
}
.button {
	color: #1c2752;
	letter-spacing: 0.36px;
	font-size: 20px;
	padding: 20px 40px;
	background-color: $orange;
	transition: background-color 0.3s linear;
	@include adaptiv-value("padding-bottom", 20, 10);
	@include adaptiv-value("padding-top", 20, 10);
	@include adaptiv-value("padding-left", 40, 20);
	@include adaptiv-value("padding-right", 40, 20);

	cursor: pointer;
	&:hover {
		background-color: darken($orange, 10%);
	}
}
.underline {
	&::before {
		transition: width 0.4s ease-in-out;
		content: "";
		width: 0;
		height: 1px;
		position: absolute;
		bottom: -3px;
	}
}

@import "opening.scss";
@import "header.scss";
@import "hero.scss";
@import "welcome.scss";
