.welcome {
	margin: 200px 0px 80px 0px;
	@include adaptiv-value("margin-top", 200, 12);
	@include adaptiv-value("margin-bottom", 80, 12);

	&__inner {
		display: grid;
		gap: 50px;
		@include adaptiv-value("gap", 50, 20);
		grid-template-columns: 1fr;
		@media (min-width: $smm) {
			grid-template-rows: 1fr 1fr;
		}
		@media (min-width: $lg) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			flex-direction: row;
		}
	}
	&__img {
		order: 1;
		@media (min-width: $lg) {
			order: 0 !important;
		}
		position: relative;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__about {
	}

	&__greetings {
	}

	&__title {
		color: #1c2752;
		font-family: "Mulish";
		@include adaptiv-value("margin-top", 22, 12);
		@include adaptiv-value("font-size", 45, 14);
	}

	&__paragraph {
		color: #7e7e7e;
		margin-top: 12px;
	}

	&__statistics {
	}
}
.container {
}
.welcome-greetings {
	display: inline-flex;
	align-items: center;
	padding-right: 10px;
	margin-top: 20px;
	background-color: #f4f4f4;
	color: #1c2752;
	min-width: 45%;
	&__img {
		margin-left: 10px;
	}
	&__text {
		margin-left: 10px;
	}
}
.welcome-statistics {
	margin-top: 20px;
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		@media (min-width: $sm) {
			flex-direction: row;
			gap: 40px;
		}
	}

	&__box {
		background: #f4f4f4;
		padding: 24px 51px 40px 51px;
		text-align: center;
	}

	&__numbers {
		color: #ffb342;
		font-family: "Mulish";
		@include adaptiv-value("font-size", 80, 24);
	}

	&__text {
		margin-top: 16px;
		font-size: 20px;
		font-family: "Mulish";
	}

	&__list {
		flex: 1 1 100%;
	}
	&__item {
		margin-top: 10px;
		color: #7e7e7e;
		white-space: nowrap;
		&:before {
			content: "-";
			padding-right: 5px;
		}
		@media (min-width: $sm) {
			padding-left: 12px;
		}
	}
}
